@import '../../styles/_fonts.scss';
@import '../../styles/_colors.scss';

.Projects{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    color: $fontColor;

    & > h1{
        text-align: center;
        font-weight: 400;
    }

    & > div{
        margin-top: 100px;
        padding-left: 160px;
        padding-right: 160px;

        & > div{
            &:nth-child(1){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            
            &:nth-child(2){
                margin-top: 60px;
                display: flex;
                flex-direction: row;
                overflow-x: scroll !important;

                & > div{
                    margin-right: 20px;
                }
            }
        }
    }

    .cards{
        min-width: 228px !important; 
        min-height: 370px !important;
        border-radius: 12px;
        box-shadow: 0 24px 42px 0 rgba(0, 0, 0, 0.15);
        background-color: #222222;
    }

    .year{
        font-family: 'AppleSDGothicNeo';
        font-size: 32px;
        font-weight: bold;
        background-color: #fff !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
    }
}