@import '../../styles/_fonts.scss';
@import '../../styles/_colors.scss';

.Main{
    display: flex;
    height: calc(100vh - 270px);
    flex-direction: column;
    padding-left: 160px;
    padding-top: 270px;
    color: $fontColor;

    & > h1{
        font-size: 36px;
        font-family: SeoulHangangEB;
        text-shadow: 10px 10px 10px rgba(2, 0, 0, 0.1);
    }

    & > span{
        text-shadow: 10px 10px 10px rgba(2, 0, 0, 0.1);
        font-family: NotoSansCJKkr;
        font-size: 26px;
    }

    & > a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 130px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
        color: #fff;
        background-image: $assetColor;
        text-decoration: none;
    }

}