@import '../../styles/_fonts.scss';
@import '../../styles/_colors.scss';

.Awards{
    display: flex;
    flex-direction: column;
    width: 84%;
    height: calc(100vh - 24%);
    padding: 12% 8%;
    color: $fontColor;
    overflow-x: scroll;

    & > h1{
        text-align: center;
        font-family: Lato;
        font-weight: 400;
    }
}