@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/breakpoints';

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 84vw;
    background-color: rgba(0,0,0,0);
    z-index: 1000;
    position: fixed;
    top: 0;

    @media (min-width: $small) {
        padding: 25px 8%;
    }

    @media (max-width: $small) {
        padding: 20px 30px;
    }
    

    & > a{
        font-family: 'SeoulHangangM';
        text-decoration: none;
        color: $fontColor;
        font-weight: 800;
    }

    & > ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        float: right;

        & > li{
            &:not(:first-child){
                @media (min-width: $small) {
                    margin-left: 20px;
                }

                @media (max-width: $small) {
                    margin-left: 10px;
                }
            }

            & > a{
                font-family: 'Lato';
                text-decoration: none;
                color: $fontColor;
            }
        }
    }
}